<div id="<%= dom_id variation %>">
  <p>
    <strong>Color:</strong>
    <%= variation.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= variation.size %>
  </p>

  <p>
    <strong>Unidad de medida:</strong>
    <%= variation.unit_of_measurement %>
  </p>

  <p>
    <strong>Cantidad inicial:</strong>
    <%= variation.total_qtty %>
  </p>

  <p>
    <strong>Cantidad restante:</strong>
    <%= variation.remaining_qtty %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= variation.price %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= variation.material_id %>
  </p>

</div>
