<div id="<%= dom_id variation %>">
  <p>
    <strong>Color:</strong>
    <%= variation.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= variation.size %>
  </p>

  <p>
    <strong>Unit of measurement:</strong>
    <%= variation.unit_of_measurement %>
  </p>

  <p>
    <strong>Total qtty:</strong>
    <%= variation.total_qtty %>
  </p>

  <p>
    <strong>Remaining qtty:</strong>
    <%= variation.remaining_qtty %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= variation.price %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= variation.material_id %>
  </p>

</div>
