<p style="color: green"><%= notice %></p>

<h1>Variaciones para <%= @material.name %></h1>

<div id="variations">
  <% @variations.each do |variation| %>
    <%= render variation %>
    <p>
      <%= link_to "Mostrar esta variacion", [@material, variation] %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva variacion", new_material_variation_path(@material) %>
