<p style="color: green"><%= notice %></p>

<%= render @variation %>

<div>
  <%= link_to "Editar esta variacion", edit_material_variation_path(@material, @variation) %> |
  <%= link_to "Regresar a variaciones", [@material, :variations] %>

  <%= button_to "Eliminar esta variacion", [@material, @variation], method: :delete %>
</div>
