<div id="<%= dom_id personal_detail %>">
  <p>
    <strong>Username:</strong>
    <%= personal_detail.username %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= personal_detail.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= personal_detail.last_name %>
  </p>

  <p>
    <strong>Id type:</strong>
    <%= personal_detail.id_type %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= personal_detail.id_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= personal_detail.phone_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= personal_detail.user_id %>
  </p>

</div>
