<p style="color: green"><%= notice %></p>

<%= render @personal_detail %>

<div>
  <%= link_to "Editar datos personales", edit_user_personal_detail_path(@user, @personal_detail) %> |
  <%= link_to "Regresar a datos personales", [@user, :personal_details] %>

  <%= button_to "Eliminar datos personales", [@user, @personal_detail], method: :delete %>
</div>
