<div id="<%= dom_id order %>">
  <p>
    <strong>First name:</strong>
    <%= order.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= order.last_name %>
  </p>

  <p>
    <strong>Id type:</strong>
    <%= order.id_type %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= order.id_number %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= order.product_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= order.group_id %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= order.material %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
