<p style="color: green"><%= notice %></p>

<h1>Ordenes de <%= @user.personal_detail.first_name %>/h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Mostrar esta orden", [@user, order] %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva orden", new_user_order_path(@user) %>
