<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Editar esta orden", edit_user_order_path(@user, @order) %> |
  <%= link_to "Regresar a mis ordenes", [@user, :orders] %>

  <%= button_to "Eliminar orden", [@user, @order], method: :delete %>
</div>
