<p style="color: green"><%= notice %></p>

<h1>Materiales de <%= @category.name %></h1>

<div id="materials">
  <% @materials.each do |material| %>
    <%= render material %>
    <p>
      <%= link_to "Mostrar este material", [@category, material] %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo material", new_category_material_path(@category) %>
