<p style="color: green"><%= notice %></p>

<%= render @material %>

<div>
  <%= link_to "Edit this material", edit_category_material_path(@category, @material) %> |
  <%= link_to "Back to materials", [@category, :materials] %>

  <%= button_to 'Destroy', [@category, @material], method: :delete %>

</div>
