<p style="color: green"><%= notice %></p>

<%= render @material %>

<div>
  <%= link_to "Editar material", edit_category_material_path(@category, @material) %> |
  <%= link_to "Regresar a materiales", [@category, :materials] %>

  <%= button_to 'Eliminar este material', [@category, @material], method: :delete %>

</div>
